%article#job
  %header
    %h2= @job.title
    %p Created #{@job.created_at.to_time.ago_in_words}, closes in #{@job.closing_date.to_time.ago_in_words}.
  %p= @job.description
  %p.links
    %a.button(href="#{@job.url}") View Job &rsaquo;

#aside
  %p Something..