%article#job
  %header
    %h2= @job.title
    %p Created #{@job.created_at.to_time.ago_in_words}, closes in #{@job.closing_date.to_time.ago_in_words}.
  %p= @job.html_description
  %ul.tags
    - @job.tags.each do |tag|
      %li
        %a(href="/tag/#{tag.id}")= tag
  .links
    %a.button(href="#{@job.url}" target='_blank') View Job &rsaquo;
    %p View the job on #{@job.company}&rsquo;s website.
