%ol#results
  - @jobs.each do |job|
    = job.sponsored
    %li(class="#{'sponsored' if job.sponsored}")
      %h4
        %a(href="/job/#{job.id}") #{job}, #{job.area}
        %small= job.company
      %p= job.description
      %ul.stats
        %li IBM
        %li
          Added
          %time(datetime='') 5th Nov
        
#aside
  This is an aside.